# Operators in Pythons
    . Arithmetic operators
    . Assignment operators
    . Comparison operators
    . Logical operators
    . Identity operators
    . Membership operators
    . Bitwise operators

## Arithemtic Operators

In [2]:
import pandas as pd

# Read HTML tables from the given URL
tables = pd.read_html('https://www.w3schools.com/python/python_operators.asp')

# Display the first table
tables[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [6]:
#Addition
a:int = 10
b:int = 5
display(a+b)
#subtraction
display(a-b)
#multiplication
display(a*b)
#division
display(a/b)
#modulus
display(a%b)
#exponentiation
display(a**b)
#floor division
display(a/b)

15

5

50

2.0

0

100000

2.0

# Python Assignment Operators
- Assignment operators are used to assign values to variables:

In [7]:
# Read HTML tables from the given URL
tables = pd.read_html('https://www.w3schools.com/python/python_operators.asp')

# Display the first table
tables[1]

   Operator        Example         Same As    Try it
0         =          x = 5           x = 5  Try it »
1        +=         x += 3       x = x + 3  Try it »
2        -=         x -= 3       x = x - 3  Try it »
3        *=         x *= 3       x = x * 3  Try it »
4        /=         x /= 3       x = x / 3  Try it »
5        %=         x %= 3       x = x % 3  Try it »
6       //=        x //= 3      x = x // 3  Try it »
7       **=        x **= 3      x = x ** 3  Try it »
8        &=         x &= 3       x = x & 3  Try it »
9        |=         x |= 3       x = x | 3  Try it »
10       ^=         x ^= 3       x = x ^ 3  Try it »
11      >>=        x >>= 3      x = x >> 3  Try it »
12      <<=        x <<= 3      x = x << 3  Try it »
13       :=  print(x := 3)  x = 3 print(x)  Try it »

# Python Comparison Operators
### Comparison operators are used to compare two values:

In [8]:
# Read HTML tables from the given URL
tables = pd.read_html('https://www.w3schools.com/python/python_operators.asp')

# Display the first table
tables[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

# Python Logical Operators
### Logical operators are used to combine conditional statements:

In [9]:
# Read HTML tables from the given URL
tables = pd.read_html('https://www.w3schools.com/python/python_operators.asp')

# Display the first table
tables[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

# Python Identity Operators
### Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [10]:
# Read HTML tables from the given URL
tables = pd.read_html('https://www.w3schools.com/python/python_operators.asp')

# Display the first table
tables[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

# Python Membership Operators
### Membership operators are used to test if a sequence is presented in an object:

In [ ]:
# Read HTML tables from the given URL
tables = pd.read_html('https://www.w3schools.com/python/python_operators.asp')

# Display the first table
tables[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

# Python Bitwise Operators
### Bitwise operators are used to compare (binary) numbers:

In [12]:
# Read HTML tables from the given URL
tables = pd.read_html('https://www.w3schools.com/python/python_operators.asp')

# Display the first table
tables[6]

,Operator,Name,Description,Example,Try it
0,&,AND,Sets each bit to 1 if both bits are 1,x & y,Try it »
1,|,OR,Sets each bit to 1 if one of two bits is 1,x | y,Try it »
2,^,XOR,Sets each bit to 1 if only one of two bits is 1,x ^ y,Try it »
3,~,NOT,Inverts all the bits,~x,Try it »
4,<<,Zero fill left shift,Shift left by pushing zeros in from the right ...,x << 2,Try it »
5,>>,Signed right shift,Shift right by pushing copies of the leftmost ...,x >> 2,Try it »

# Operator Precedence
#### Operator precedence describes the order in which operations are performed.

###### Example
###### Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:

###### print((6 + 3) - (6 + 3))

# Rule of MDAS M=Multiplication Perform first
###     D=Division Then Division
###     A=Addition Then Addition
###     S=Subtraction and lastly subtraction